[user]
	email = raywassmas@gmail.com
	name = raydive

[alias]
	ignore = !"f() { local s=$1; shift; \
		while [ $# -gt 0 ]; do s="$s,$1"; shift; done;\
		curl "http://gitignore.io/api/$s"; }; f"
	co = checkout
	st = status
 # diff関連
	dm = diff master           # masterとのdiff
	dc = diff --cached         # addされているものとのdiff
	ds = diff --staged         # 同上(1.6.1移行)
	d1 = diff HEAD~            # HEADから1つ前とdiff
	d2 = diff HEAD~~           # HEADから2つ前とdiff
	d3 = diff HEAD~~~          # HEADから3つ前とdiff
	d4 = diff HEAD~~~~         # HEADから4つ前とdiff
	d5 = diff HEAD~~~~~        # HEADから5つ前とdiff
	d10 = diff HEAD~~~~~~~~~~  # HEADから10前とdiff
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[http]
	sslVerify = false
[core]
	autocrlf = false
